@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--primary-bg);
}

#app {
  min-height: 100vh;
}
